language: ruby
gemfile:
  - Gemfile
  # i can't find a way to use the same Gemfile and just specify --without varint
  - Gemfile.no_varint
rvm:
  - "1.9.3"
  - "2.0.0"
  - "2.1.0"
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-2.1.1
matrix:
  exclude:
    # can't use the varint extension in jruby runs
    - rvm: jruby-19mode
      gemfile: Gemfile
  allow_failures:
    - rvm: rbx-2.1.1

